services:
  web:
    image: nginx:mainline-alpine
    container_name: practica-nginx
    restart: unless-stopped
    ports:
      - "8080:80"
      - "443:443"
    volumes:
      - ./nginx/html:/usr/share/nginx/html # Web
      - ./default.conf:/etc/nginx/conf.d/default.conf #Configuración
      - ./nginx-selfsigned.crt:/etc/nginx/ssl/nginx-selfsigned.crt # Certificado SSL
      - ./nginx-selfsigned.key:/etc/nginx/ssl/nginx-selfsigned.key # Clave privada
      - ./gzip.conf:/etc/nginx/conf.d/gzip.conf # Compresión Gzip
    networks:
      - practica-network

  sftp:
    image: atmoz/sftp:alpine
    container_name: practica-sftp
    command: usuario:libre1234:1000
    restart: always
    ports:
      - "2222:22"
    volumes:
      - ./nginx/html:/home/usuario/upload
    networks:
      - practica-network

networks:
  practica-network:
    driver: bridge
    name: practica-network
